@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: rgba(246, 254, 247, 1);
  /* Ajustado para um verde bem claro */
  --foreground: rgba(146, 145, 165, 1);
  /* Branco puro */
  --card: rgba(255, 255, 255, 1);
  /* Branco para os cards */
  --card-foreground: rgba(30, 30, 30, 1);
  /* Cinza escuro para contraste */
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgb(0, 0, 0);
  --primary: rgba(0, 190, 98, 1);
  /* Verde forte do layout */
  --primary-foreground: rgba(255, 255, 255, 1);
  /* Texto branco sobre verde */
  --secondary: rgba(160, 244, 177, 1);
  /* Azul esverdeado escuro */
  --secondary-foreground: rgba(18, 63, 66, 1);
  --muted: rgba(230, 250, 235, 1);
  /* Fundo sutilmente colorido */
  --muted-foreground: rgba(100, 100, 100, 1);
  --accent: rgba(75, 75, 75, 0.1);
  /* Verde com transparência */
  --accent-foreground: rgba(100, 100, 100, 1);
  --destructive: rgba(235, 87, 87, 1);
  /* Vermelho para erros */
  --destructive-foreground: rgba(255, 255, 255, 1);
  --border: rgb(210, 215, 210);
  /* Borda verde suave */
  --input: rgba(255, 255, 255, 1);
  --ring: rgba(0, 190, 98, 0.5);
  /* Verde com transparência para efeitos */
  --chart-1: 151 100% 37%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;

  /* Verde claro */
  --radius: 0.625rem;
  --sidebar: rgba(255, 255, 255, 1);
  --sidebar-foreground: rgba(30, 30, 30, 1);
  --sidebar-primary: rgba(18, 63, 66, 1);
  --sidebar-primary-foreground: rgba(255, 255, 255, 1);
  --sidebar-accent: rgba(0, 190, 98, 0.1);
  --sidebar-accent-foreground: rgba(18, 63, 66, 1);
  --sidebar-border: rgba(200, 230, 200, 1);
  --sidebar-ring: rgba(0, 190, 98, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
